---
apiVersion: v1
kind: Secret
metadata:
  name: opencloud-secret
  namespace: opencloud
stringData:
  IDM_ADMIN_PASSWORD: "xxxxxxxxxxxxxxxxxxxxxxx" # Add a random password here
  
---
apiVersion: v1
kind: Secret
metadata:
  name: collabora-secret
  namespace: opencloud
stringData:
  password: "admin"
